* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: open-sans-b;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: open-sans-r;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@media (min-width:1201px) {
  .trend__block {
    width: 24.775%;
  }

  .main__container {
    display: flex;
    gap: 28px;
    margin-bottom: 60px;
  }

  .product__block {
    width: 27%;
  }

  .aside__block {
    width: 272px;
    margin-bottom: 60px;
  }

  .post__cont {
    max-width: 182px;
  }
  
  .header__menu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .main__container:last-child {
    margin-bottom: 0;
  }

  .body__section {
    display: flex;
    justify-content: center;
    /* max-width: 1200px; */
    padding: 0 15px;
    margin: 60px 0;
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation : portrait) {
  .trend__block {
    width: 49.85%;
  }

  .trend__block:nth-child(n+3) {
    width: 49.85%;
    margin-top: 0.3%;
  }

  .main__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-right: 20px;
    border-bottom: solid 2px rgba(153, 153, 153, 0.3);
    padding-bottom: 10px;
    max-width: 380px;
  }

  .product__block {
    width: 33%;
  }

  .header__navigation {
    display: none;
  }

  .aside__block {
    width: 272px;
    margin-bottom: 60px;
  }

  .post__cont {
    max-width: 182px;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .main__container:last-child {
    margin-bottom: 60px;
  }

  .body__section {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    margin: 60px auto;
  }
  
  .burger__menu,
  .burger__menu::before,
  .burger__menu::after {
    display: block;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: white;
    z-index: 3;
    right: 50px;  
    top:40px; 
    cursor: pointer;
  }
  .burger__menu::before {
    content: "";
    top: -9px;
    right: -1px;
  }
  .burger__menu::after {
    content: "";
    top: 9px;
    right: -1px;
  }
  
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation : landscape) {
  .trend__block {
    width: 24.775%;
  }

  .main__container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    margin-right: 20px;
    border-bottom: solid 2px rgba(153, 153, 153, 0.3);
    padding-bottom: 10px;
    max-width: 380px;
  }

  .product__block {
    width: 33%;
  }

  .header__navigation {
    display: none;
  }

  .aside__block {
    width: 272px;
    margin-bottom: 60px;
  }

  .post__cont {
    max-width: 182px;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .main__container:last-child {
    margin-bottom: 60px;
  }

  .body__section {
    display: flex;
    justify-content: center;
    /* max-width: 1200px; */
    padding: 0 15px;
    margin: 60px 0;
  }

  .burger__menu,
  .burger__menu::before,
  .burger__menu::after {
    display: block;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: white;
    z-index: 3;
    right: 50px;  
    top:40px; 
    cursor: pointer;
  }
  .burger__menu::before {
    content: "";
    top: -9px;
    right: -1px;
  }
  .burger__menu::after {
    content: "";
    top: 9px;
    right: -1px;
  }

}

@media (max-width:640px) and (orientation : portrait) {
  
  main {
  max-width: 100%;
  display:flex;
  flex-direction: column;
  align-items:center;
}
  
  .trend__block {
    width: 99.7%;
  }

  .trend__block:nth-child(n+2) {
    margin-top: 0.3%;
  }

  .main__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    border-bottom: solid 2px rgba(153, 153, 153, 0.3);
    padding-bottom: 10px;
    max-width: 380px;
    width: 100%;
  }

  .product__block {
    width: 100%;
  }

  .header__navigation {
    display: none;
  }

  .body__section {
    flex-wrap: wrap;

  }

  .aside__block {
    width: 100%;
    margin-bottom: 60px;
  }

  .header__menu {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    padding: 60px 15px 0 15px;
    margin: 0 auto;
  }

  .main__container:last-child {
    margin-bottom: 60px;
  }

  .burger__menu,
  .burger__menu::before,
  .burger__menu::after {
    display: block;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: white;
    z-index: 3;
    right: 50px;  
    top:40px; 
    cursor: pointer;
  }
  .burger__menu::before {
    content: "";
    top: -9px;
    right: -1px;
  }
  .burger__menu::after {
    content: "";
    top: 9px;
    right: -1px;
  }
}


@media (max-width:640px) and (orientation : landscape) {
  .trend__block {
    width: 49.85%;
  }

  .trend__block:nth-child(n+3) {
    margin-top: 0.3%;
  }

  .main__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    justify-content: center;
  }

  .product__block {
    width: 100%;
  }

  .header__navigation {
    display: none;
  }

  .body__section {
    flex-wrap: wrap;
  }

  .aside__block {
    width: 100%;
    margin-bottom: 60px;
  }

  .header__menu {
    display: flex;
    max-width: 1200px;
    padding: 60px 15px 0 15px;
    margin: 0 auto;
    border-bottom: solid 2px rgba(153, 153, 153, 0.3);
    padding-bottom: 10px;
    max-width: 380px;
  }

  main {
    max-width: 100%;
    display:flex;
    flex-direction: column;
    align-items:center;
  }

  .burger__menu,
  .burger__menu::before,
  .burger__menu::after {
    display: block;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: white;
    z-index: 3;
    right: 50px;  
    top:40px; 
    cursor: pointer;
  }
  .burger__menu::before {
    content: "";
    top: -9px;
    right: -1px;
  }
  .burger__menu::after {
    content: "";
    top: 9px;
    right: -1px;
  }
}


/*header*/

.body__header {
  padding-bottom: 130px;
  position: relative;
  padding-top: 30px;
  background: #000000 url(../images/banner-bg.jpg) no-repeat top center;
  background-size: cover;
}

.body__header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.6;
  z-index: 0;
}



.header__logo {
  width: 180px;
  position: relative;
  z-index: 1;
  display:flex;
  flex-direction: column;
  align-content:flex-end;
}

.header__list_link {
  text-transform: uppercase;
  color: white;
  font: 13px open-sans-r, sans-serif;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.header__navigation {
  margin-top: 10px;
}

.header__list {
  list-style-type: none;
  display: flex;
  gap: 35px;
}

.header__title {
  font: 45px/1.6 open-sans-b, sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin: auto;
  max-width: 690px;
  position: relative;
  z-index: 1;
  margin-top: 100px;
}

/* trend */

.trend__head_link {
  margin: 60px auto 0 auto;
}

.body__trend {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
}

.trend__block {
  background: #000000 no-repeat;
  min-height: 320px;
  gap: 0.3%;
  position: relative;
}

.trend__block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.6;
  z-index: 0;
}

.first__trend {
  background: url("../images/trend1.jpg") no-repeat;
  background-size: cover;
}

.second__trend {
  background: url("../images/trend2.jpg") no-repeat;
  background-size: cover;
}

.third__trend {
  background: url("../images/trend3.jpg") no-repeat;
  background-size: cover;
}

.fourth__trend {
  background: url("../images/trend4.jpg") no-repeat;
  background-size: cover;
}

.trend__header {
  text-decoration: none;
}

.trend__block {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.trend__tag_list {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  font: 14px open-sans-b, sans-serif;
  color: #b59f5b;
  display: flex;
  gap: 10px;

}

.trend__list_head {
  display: inline;
  text-decoration: none;
}

.trend__header_link {
  color: white;
  z-index: 2;
  position: relative;
  display: inline;
}

.trend__content {
  border: 2px solid #b59f5b;
  padding: 30px;
  z-index: 2;
  position: relative;
  margin: 0 20px 20px 20px;
}

/*body*/



/* main {
  width: 779px;
} */

.main__date {
  font: 12px open-sans-r, sans-serif;
  color: #888888;
}

.main__autor {
  font: 12px open-sans-b, sans-serif;
}




.main__container_img {
  max-width: 380px;
  max-width: 100%;
}

.main__img {
  display: block;
}

.cont__tag {
  margin-bottom: 5px;
}

.cont__tag_list {
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.cont__tag_link {
  text-transform: uppercase;
  font: 14px open-sans-b, sans-serif;
  color: #b59f5b;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  font: 20px/1.2 open-sans-b, sans-serif;
  margin-bottom: 30px;
}

.cont__header {
  width: 340px;
}

h3,
h4 {
  font: 14px/1.3 open-sans-b, sans-serif;
}

.cont__head_link {
  text-decoration: none;
  color: #000000;
}

.cont__date_count {
  display: flex;
  gap: 12px;
  margin-bottom: 47px;
}

.cont__body {
  font: 15px/1.45 open-sans-r, sans-serif;
  max-width: 380px;
}

.cont__body_more {
  margin-bottom: 8px;
}

.name__block {
  text-transform: uppercase;
  font-family: open-sans-b, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.name__block::after {
  content: "";
  display: block;
  width: 66px;
  height: 2px;
  background-color: #b59f5b;
  margin: auto;
  margin-top: 9px;
}

.aside__post {
  display: flex;
  gap: 18px;
  height: 70px;
  margin-bottom: 22px;
}

.post__image {
  max-width: 100%;
}

.post__image_aside {
  display: block;
}



.aside__head_link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.form__search {
  margin-top: 62px;
  display: flex;
  padding: 0 5px;
}

.search__field {
  z-index: 1;
  box-sizing: border-box;
  padding-left: 19px;
  width:100%;
  height: 47px;
  font: 13px open-sans-r, sans-serif;
  border: none;
  outline: none;
  background-color: #f4f7f6;
}

.search__button {
  height: 47px;
  width: 47px;
  background-color: #b59f5b;
  z-index: 2;
  right: 0;
  background-image: url("../svg/search.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  cursor: pointer;
}

.search__hint_button {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search__hint {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.email__input {
  margin-bottom: 18px;
  padding: 0 17px;
  background-color: #f4f7f6;
  border: none;
  width: 100%;
  height: 47px;
  font: 15px open-sans-r, sans-serif;
  outline: none;
}

.email__button {
  width: 100%;
  height: 47px;
  text-transform: uppercase;
  font: 14px open-sans-b, sans-serif;
  color: white;
  background-color: #b59f5b;
  border: none;
  cursor: pointer;
}

.email__head {
  height: 110px;
  padding: 0 5px;
}

.email__hint {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tag__list_head {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.tag__list_link {
  color: #000000;
  font: 12px open-sans-b, sans-serif;
  text-decoration: none;
  border: 2px solid #f4f7f6;
  align-content: space-between;
  display: block;
  padding: 4px 13px;
  margin-right: 9px;
  margin-bottom: 5px;
}

.theme__list_tag {
  position: relative;
  padding-bottom: 25px;
  list-style: none;
}

.theme__list_link {
  color: #000000;
  font: 14px open-sans-b, sans-serif;
  text-decoration: none;
  width: 100%;
  text-transform: capitalize;
}

.theme__list_link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 20px;
  left: 0;
  background-color: #f4f7f6;
}

.theme__list_count {
  color: #b59f5b;
  vertical-align: super;
  font: 12px open-sans-b, sans-serif;
}

/* product */

.products__block {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  justify-content: space-between;
  
}


.product__block {
  flex-direction: column;
  display: flex;
  margin: 0 20px 60px 20px;
}

.product__img {
  background: #000000;
  min-height: 200px;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  
}

.product__position {
  width: 100%;
  height: 100%;
}

.product__picture {
  margin: 0 auto;
  background-size:cover;
}

.product__body_link {
  text-decoration: none;
  color: #b59f5b;
}

.old__price {
  font: 12px open-sans-b, sans-serif;
  text-decoration: line-through;
}

.new__price {
  font: 20px open-sans-b, sans-serif;
}

.product__cont {
  outline: 2px solid #b59f5b;
  outline-offset: 30px;
  margin-bottom: 30px;
  flex-grow: 1;
  
}

.cont__product {
  margin-bottom: 20px;
}

.label__search {
  width:100%;
}

.product__button {
  font: 14px open-sans-b, sans-serif;
  text-transform: uppercase;
  border: none;
  width: 140px;
  height: 45px;
  background-color: #b59f5b;
}

.product__button:active {
  color: white;
  box-shadow: -2px 4px 8px black;
  background-color: #b59f5b;
}

.product__button_link {
  text-decoration: none;
  color: white;
}

.product__buy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product__head {
  margin-bottom: 10px;
}

/* popup */


.popup__conteiner {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items:center;
  visibility: hidden;
}

.popup__content {
  width: 400px;
  padding: 0 30px 40px 30px;
  background-color: white;

}

.popup__radio {
  font: 24x open-sans-b, sans-serif;
  margin-bottom: 10px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  padding: 10px 20px;
  background: url("../svg/form-arrows.svg") no-repeat 95% 50% #f4f7f6;
  background-size: 10px;
  z-index: 4;
  border: none;
  margin-bottom: 20px;
  font: 14px open-sans-r, sans-serif;
  color: #888888;
  width: 100%;
}

.popup__quest {
  margin-bottom: 10px;
  font: 14px open-sans-r, sans-serif;
}

.popup__textarea {
  background: #f4f7f6;
  font: 14px open-sans-r, sans-serif;
  color: #888888;
  padding: 10px 20px;
  border: none;
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 30px;
}

.popup__submit {
  background: #b59f5b;
  color: white;
  border: none;
  text-transform: uppercase;
  font: 14px open-sans-b, sans-serif;
  height: 50px;
  width: 100%;
}

.popup__radio_email {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.popup__text {
  display: inline-block;
  font: 14px open-sans-r, sans-serif;
}

.popup__variant:focus~.popup__text::before {
  outline-offset: 2px;
}

.popup__text::before {
  content: "";
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.popup__variant:checked~.popup__text::before {
  background-image: url(../svg/form-circle.svg);
}

.popup__variant {
  display: none;
}

.popup__exit {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.popup__exit:before {
  content: '';
  background: url(../svg/form-x.svg) no-repeat;
  position: absolute;
  z-index: 2;
  top: -20px;
  right: -50px;
  background-size: 20px;
  width: 20px;
  height: 20px;
}

/*footer*/

.footer__list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 25px;
}

.footer__link {
  display: block;
  width: 20px;
  height: 20px;
}

.footer__cont_icon {
  background-color: #f4f7f6;
  padding: 30px 0 30px 0;
}

.footer__cont {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.footer__icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon__twitter {
  background-image: url("../svg/004-twitter.svg");
}

.icon__pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.icon__facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.icon__istagram {
  background-image: url("../svg/005-instagram.svg");
}

.icon__tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  text-decoration: none;
  color: #999999;
  font: 12px open-sans-b, sans-serif;
  display: block;
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
}